# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
.next/
out/
build/

# Env
.env
.env.local
.env.*.local

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Prisma
apps/backend/prisma/migrations/**/migration_lock.toml

# Misc
*.tsbuildinfo
.turbo
